[submodule "dep/starling-dsp"]
	path = dep/starling-dsp
	url = https://github.com/starlingcode/starling-dsp.git
[submodule "dep/starling-rack-ui"]
	path = dep/starling-rack-ui
	url = https://github.com/starlingcode/starling-rack-ui
[submodule "res/starling-rack-gfx"]
	path = res/starling-rack-gfx
	url = https://github.com/starlingcode/starling-rack-gfx
